<a data-remote="true" rel="nofollow" data-method="post" href="/favorites?picture_id=<%= picture.id %>" data-comment="<%= picture.id %>">
  <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
</a>
