<div class="row">
  <div class="col-md-7">



    <div class="other_posts">
      <% if @pictures.present? %>
        <% @pictures.each do |picture| %>

          <%= render 'one_post', picture: picture %>

        <% end %>
      <% end %>
    </div>

  </div>

  <div class="col-md-5">


  </div>
</div>
