<div class="row">
  <div class="col-md-7">

    <!-- #モーダル用 -->
    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <div class="other_posts">
      <% if @pictures.present? %>
        <% @pictures.each do |picture| %>

          <%= render 'one_post', picture: picture %>

        <% end %>
      <% end %>
    </div>

  </div>

  <div class="col-md-5">


  </div>
</div>
