html {
  background-color: #FAFAFA
}

body {
  background-color: #FAFAFA;
}

#picture_comment {
  word-wrap: break-word;
  overflow: scroll;
  white-space: pre-wrap;
}

.posting_person {
    height: 60px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.posted_image {
  margin-bottom: 20px;
}

.each_other_comment p {
  word-wrap: break-word;
  overflow: scroll;
}

span.for_edit {
  margin-left: 20px;
}

.favorite a {
  color: #000;
}

.favorite a:active {
    opacity: .5;
}

#note {
  color: #808080;
  font-size: 10px;
}
